<h1><%= @cocktail.name %></h1>
  
<% @cocktail.doses.each do |dose| %>
<li>
  <%= dose.description %> <%= dose.ingredient.name %><%= link_to 'Remove', dose_path(dose), class: "btn btn-danger btn-sm", method: :delete, :data => {:confirm => "Are you sure you want to delete it?"} %>
</li>
<% end %>

<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail), class: "btn btn-primary"%>





<% if false %>
<p><%= @cocktail.doses.description %><%= @cocktail.doses.ingredient.name %></p>
<%= render "doses/new", cocktail: @cocktail, dose: @dose %>
<% end %>
